
@import "variables";
@import '../../node_modules/bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

html {
    height: 100%;
}

body {
    color: $color-white;
    background: $color-black;
    font-family: $font-family-montserrat;
}


#stats-container{
    border: 1px solid yellow;
    padding: 1em;
}
.boop-transparent{
   background-color: $color-purple;
}
#reset{
    background: $color-button;
    border-radius: 3px;
}
.img-card{    
   border: 2px solid $color-lime;
   border-radius: 5px;
   background: white;
    img{
        width: 100%;
    }
}